.background {
  background-image: url("../../../../assets/images/forget-password-background.jpg");
  background-size: cover;
  background-position: center bottom 60%;
  height: 100%;
  width: 100%;
}

.link {
  color: #00be26;
  transition: all 0.2s;
}
.link:hover {
  color: #00801a;
}

:host {
  .form-control {
    color: #000;
  }
  .form-control:focus {
    border-color: #555;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
  }

  input:-internal-autofill-selected {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    -moz-box-shadow: 0 0 0 30px #fff inset !important;
    -o-box-shadow: 0 0 0 30px #fff inset !important;
    box-shadow: 0 0 0 30px #fff inset !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 1) !important;
    -o-text-fill-color: rgba(0, 0, 0, 1) !important;
    -moz-text-fill-color: rgba(0, 0, 0, 1) !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    -moz-box-shadow: 0 0 0 30px #fff inset !important;
    -o-box-shadow: 0 0 0 30px #fff inset !important;
    box-shadow: 0 0 0 30px #fff inset !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 1) !important;
    -o-text-fill-color: rgba(0, 0, 0, 1) !important;
    -moz-text-fill-color: rgba(0, 0, 0, 1) !important;
  }

  input::placeholder {
    color: #c8c8c8 !important;
  }
}
