<section
  class="background"
  [ngClass]="{ 'fade-in': isPageLoaded, 'fade-out': isNavigatingToAnotherPage }"
>
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center">
          <div class="section pb-5 text-center">
            <input
              #toggleCard
              class="checkbox"
              type="checkbox"
              id="reg-log"
              name="reg-log"
            />
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap px-sm-4 px-3">
                    <div class="section text-center">
                      <h1 class="mb-4 pb-3 display-3" style="font-weight: 500">
                        Soul Script
                      </h1>
                      <form
                        [formGroup]="loginForm"
                        (ngSubmit)="onLoginSubmit()"
                      >
                        <div class="form-group">
                          <input
                            type="email"
                            class="form-style"
                            placeholder="Email"
                            formControlName="loginEmail"
                          />
                          <i class="input-icon fa-regular fa-envelope"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input
                            type="password"
                            class="form-style"
                            placeholder="Password"
                            formControlName="loginPassword"
                          />
                          <i class="input-icon fa-solid fa-lock"></i>
                        </div>
                        <button
                          type="submit"
                          class="btn mt-4"
                          [ngStyle]="
                            isLoginLoading
                              ? { 'letter-spacing': '0px' }
                              : { 'letter-spacing': '1px' }
                          "
                        >
                          <span *ngIf="!isLoginLoading"> Login </span>
                          <i
                            *ngIf="isLoginLoading"
                            class="pi pi-spin pi-spinner"
                            style="font-size: 1.2rem"
                          ></i>
                        </button>
                        <p class="mb-0 mt-4 text-center">
                          <span
                            class="link cursor-pointer"
                            (click)="redirectTo('public/auth/forgot-password')"
                            >Forgot your password?</span
                          >
                        </p>
                        <div class="mt-2" style="font-size: 0.9rem">
                          <small>Don't have an account? </small>
                          <small class="link cursor-pointer" (click)="toggle()"
                            >Sign up here</small
                          >
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card-back">
                  <div class="center-wrap px-sm-4 px-3">
                    <div class="section text-center">
                      <h1 class="mb-3 pb-3">Sign Up</h1>
                      <form
                        [formGroup]="registerForm"
                        (ngSubmit)="onRegisterSubmit()"
                      >
                        <div class="form-group">
                          <input
                            autocomplete="new-password"
                            type="text"
                            class="form-style"
                            placeholder="User Name"
                            formControlName="registerUserName"
                          />
                          <i class="input-icon fa-solid fa-user"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input
                            autocomplete="new-password"
                            type="email"
                            class="form-style"
                            placeholder="Email"
                            formControlName="registerEmail"
                          />
                          <i class="input-icon fa-regular fa-envelope"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input
                            autocomplete="new-password"
                            type="password"
                            class="form-style"
                            placeholder="Password"
                            formControlName="registerPassword"
                          />
                          <i class="input-icon fa-solid fa-lock"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input
                            autocomplete="new-password"
                            type="password"
                            class="form-style"
                            placeholder="Confirm Password"
                            formControlName="registerConfirmPassword"
                          />
                          <i class="input-icon fa-solid fa-circle-check"></i>
                        </div>
                        <button
                          type="submit"
                          class="btn mt-4"
                          [ngStyle]="
                            isSignUpLoading
                              ? { 'letter-spacing': '0px' }
                              : { 'letter-spacing': '1px' }
                          "
                        >
                          <span *ngIf="!isSignUpLoading"> Register </span>
                          <i
                            *ngIf="isSignUpLoading"
                            class="pi pi-spin pi-spinner"
                            style="font-size: 1.2rem"
                          ></i>
                        </button>
                        <div class="mt-2" style="font-size: 0.9rem">
                          <small>Already have an account? </small>
                          <small class="link cursor-pointer" (click)="toggle()"
                            >Sign in here</small
                          >
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<p-toast
  [life]="8000"
  [breakpoints]="{ '475px': { width: '90%', right: '1rem' } }"
></p-toast>

<!-- verify email -->
<p-dialog
  header="Header"
  [(visible)]="toggleVerifyEmailDialog"
  [closable]="false"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h4 class="text-xl font-bold text-danger">Please verify your email</h4>
  </ng-template>

  <span class="text-center">
    To continue , please verify your email address:
    <span class="text-danger">{{ userEmail }}</span>
  </span>

  <ng-template pTemplate="footer">
    <div class="w-100 d-flex justify-content-between align-items-center">
      <p-button
        [disabled]="isSendVerifyEmail"
        styleClass="p-button-secondary p-button-text"
        (click)="getSendNewVerificationEmail()"
      >
        <small
          class="text-secondary d-flex justify-content-center align-items-center"
          style="left: 0"
        >
          <i class="pi pi-undo me-2"></i>
          Resend Verification Email
        </small>
      </p-button>

      <p-button
        [disabled]="isSendVerifyEmail"
        icon="pi pi-check"
        (click)="toggleVerifyEmailDialog = false"
        label="Ok"
        styleClass="p-button-sm p-button-danger"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- sing up SUCCESS -->
<p-dialog
  header="Header"
  [(visible)]="toggleSuccessSignUpDialog"
  [closable]="false"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h4 class="text-xl font-bold text-success">SUCCESS</h4>
  </ng-template>
  <span class="text-center">
    Congratulations, your account has been successfully created.<br /><br />
    To continue ,
    <span
      >please verify your email address:
      <span class="text-success">{{ userEmail }}</span></span
    >
  </span>
  <ng-template pTemplate="footer">
    <div class="w-100 d-flex justify-content-between align-items-center">
      <p-button
        [disabled]="isSendVerifyEmail"
        styleClass="p-button-secondary p-button-text"
        (click)="getSendNewVerificationEmail()"
      >
        <small
          class="text-secondary d-flex justify-content-center align-items-center"
          style="left: 0"
        >
          <i class="pi pi-undo me-2"></i>
          Resend Verification Email
        </small>
      </p-button>

      <p-button
        [disabled]="isSendVerifyEmail"
        icon="pi pi-check"
        (click)="closeSuccessSignUpDialog()"
        label="Ok"
        styleClass="p-button-text"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
